/* content */
/* home */

.home__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-heavy);
  margin-bottom: var(--mb-2);
}

.home__container {
  row-gap: .5rem;
}

.home__img {
  width: 280px;
  justify-self: center;
  
}

.home__descr {
  margin-bottom: var(--mb-3);
}

.button {
  display: inline-block;
  background-color: var(--tangerine);
  font-weight: var(--font-heavy);
  color: #F0F7F4;
  padding: 1rem 1.5rem;
  border-radius: .4rem;
  transition: .2s;
}

.button:hover {
  background-color: var(--dark-tangerine);

}


/* shows */
.shows__container {
  grid-template-columns: repeat(2, 1fr);
  /* padding-bottom: 2rem; */
}

.show__content {
  position: relative;
  display: grid;
  padding: .25rem .75rem .75rem;
  background-color: var(--card-color);
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.1);
  border-radius: 1rem;
}

.show__content:hover {
  box-shadow: 0 3px 12px rgba(65, 11, 16, 0.1);
  
}

.show__img {
  width: 110px;
  justify-self: center;
  margin-bottom: .25rem;
}

.show__city, .show__club, .show__date {
  text-align: center;
} 

.show__city {
  font-size: var(--regular-font-size);
}

.show__club {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.show__date {
  font-weight: var(--font-semi-bold);
}

.show__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: .5rem .625rem;
  border-radius: 1rem 0 1rem 0;
}

.more__container {
  display: flex;
  margin-top: var(--mb-6);
  justify-content: center
  
}


/* merch */
.merch__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.merch__data {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: var(--card-color);
  box-shadow: 0 2px 6px rgba(65, 33, 11, 0.1);
  border-radius: 1rem;
  transition: .2s;
}

.merch__data:hover {
  box-shadow: 0 3px 12px rgba(65, 33, 11, 0.1);
}

.merch__img {
  width: 180px;
}

.merch__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.button-link {
  background: none;
  padding: 0;
  color: var(--tangerine);
}

.button-link:hover {
  background: none;
  color: var(--dark-tangerine);

}

.contact {
  background-color: var(--tangerine);
}

.contact__title, .contact__descr {
  color: #fff
}

.contact__descr {
  text-align: center;
  margin-bottom: var(--mb-4);
}

.contact__direction {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: .5rem;
  border-radius: .5rem;
}

.contact__input {
  width: 90%;
  outline: none;
  border: none;
  font-size: var(--regular-font-size);
  font-family: var(--body-font);
}

.contact__input::placeholder {
  font-family: var(--body-font);
}

.contact__img {
  width: 280px;
  justify-self: center;
}