.contact {
  background-color: var(--tangerine);

}

.contact__title, .contact__descr {
  color: #fff
}

.contact__descr {
  text-align: center;
  margin-bottom: var(--mb-4);
}

.contact__direction {
  display: flex;
  background-color: #fff;
  padding: .5rem;
  border-radius: .5rem;
}

.contact__input {
  width: 90%;
  outline: none;
  border: none;
  font-size: var(--regular-font-size);
  font-family: var(--body-font);
}

.contact__input::placeholder {
  font-family: var(--body-font);
}

.contact__img {
  width: 280px;
  justify-self: center;
}