*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--regular-font-size);
  background-color: var(--body-color);
  color: var(--black);
  line-height: 1.6;
}

h1,h2,h3,ul,p {
  margin: 0;
}

h1,h2,h3 {
  font-weight: var(--font-semi-bold);
  color: var(--black);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title, .section-title-center {
  font-size: var(--h2-font-size);
  color: var(--black);
  text-align: center;
  margin-bottom: var(--mb-3);
}

.l-main {
  overflow: hidden;
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}

/* navigation menu */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link, .nav__logo, .nav__toggle {
  color: var(--black);
  font-weight: var(--font-semi-bold);
}

.nav__logo {
  font-weight: var(--font-heavy);
}

.nav__logo:hover {
  color: var(--dark-tangerine);
}

.nav__link:hover {
  color: var(--dark-tangerine);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* active section */
.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--black);
  border-radius: 50%;
}


/* scroll top arrow */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--tangerine);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .2s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--dark-tangerine);
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll {
  visibility: visible;
  bottom: var(--mb-3);
}

/* contents */
/* home */

.home__title {
  font-weight: var(--font-heavy);
  margin-bottom: var(--mb-2);
}

.home__container {
  row-gap: .5rem;
}

.home__img {
  width: 280px;
  justify-self: center;
}

.home__descr {
  margin-bottom: var(--mb-3);
}

.button {
  display: inline-block;
  background-color: var(--tangerine);
  font-weight: var(--font-heavy);
  color: #F0F7F4;
  padding: 1rem 1.5rem;
  border-radius: .4rem;
  transition: .2s;
}

.button:hover {
  background-color: var(--tangerine);

}


/* shows */


/* merch */
.merch__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.merch__data {
  text-align: center;
  padding: 1rem 1rem 2rem;
  background-color: var()f;
}