/* navbar */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link, .nav__logo, .nav__toggle {
  color: var(--black);
  font-weight: var(--font-semi-bold);
}

.nav__logo {
  font-weight: var(--font-heavy);
}

.nav__logo:hover {
  color: var(--dark-tangerine);
}

.nav__link:hover {
  color: var(--dark-tangerine);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
  transition: .2s;
}

.nav__toggle:hover {
  color: var(--dark-tangerine);
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}


/* show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}


/* active section */
.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--black);
  border-radius: 50%;
}


/* scroll top arrow */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--tangerine);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .2s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--dark-tangerine);
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll {
  visibility: visible;
  bottom: var(--mb-3);
}